a {
  color: #0000AA;
}

.site .title a {
  color: #AA0000;
  text-decoration: none;
}

a.comment_count {
  margin-left: 1em;
}

.site .nav { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
.site .nav a {
  color: #AAAAAA;
  margin-left: 1em;
  text-decoration: none;
}

#sidebar ul, ul.posts {
  list-style-type: none;
}


h2 .date {
  color: #AAAAAA;
/*  font-family: Monaco,"Courier New",monospace; */
  font-size: 0.7em;
}

div.highlight pre {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
}

.rss img { float: right; margin-top: -0.5em;}
