div.title {
  color: #AA0000;
  font-weight: bold;
}

a {
  color: #0000AA;
}

.site .title a {
  color: #AA0000;
  text-decoration: none;
}

a.comment_count {
  margin-left: 1em;
}

.site .title a.extra {
  color: #AAAAAA;
  margin-left: 1em;
  text-decoration: none;
}

ul.posts {
  list-style-type: none;
}

ul.posts span {
  color: #AAAAAA;
  font-family: Monaco,"Courier New",monospace;
}

div.highlight pre {
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
}

.footer {
  border-top: 4px solid #eeeeee;
}

.rss img { float: right; }