<ul id="twitter_list" class="pull-1">
<li><span class="gentle">12 Mar</span> I unlocked &quot;Defeated the BEARZERKER&quot; in &quot;Battle Bears&quot;! http://bit.ly/bEKfvT <a href="http://twitter.com/hobodave/status/10360648876">#</a></li>
<li><span class="gentle">11 Mar</span> sigh, whose <a href="http://twitter.com/hobodave/status/10343158650">#</a></li>
<li><span class="gentle">11 Mar</span> I work with someone who's memory is a bounded queue of size 5. <a href="http://twitter.com/hobodave/status/10343144513">#</a></li>
<li><span class="gentle">11 Mar</span> anyone bank with charles schwab? thoughts? <a href="http://twitter.com/hobodave/status/10305731652">#</a></li>
<li><span class="gentle">11 Mar</span> @rizza ooh. lookin good <a href="http://twitter.com/hobodave/status/10301355598">#</a></li>
<li><span class="gentle">09 Mar</span> So, should I buy BFBC2? Is it better than MW2? <a href="http://twitter.com/hobodave/status/10243005621">#</a></li>
</ul>
