<ul id="twitter_list" class="pull-1">
<li><span class="gentle">05 Mar</span> Anyone have any links to guides/experiences with migrating from rackspace cloud to amazon EC2? <a href="http://twitter.com/hobodave/status/10034335539">#</a></li>
<li><span class="gentle">05 Mar</span> @rackcloud According to your live chat support person you do. <a href="http://twitter.com/hobodave/status/10032960866">#</a></li>
<li><span class="gentle">05 Mar</span> Great @rackcloud has yet another outage with no notice to customers. <a href="http://twitter.com/hobodave/status/10032542560">#</a></li>
<li><span class="gentle">02 Mar</span> RT @zedshaw Programmers, the absolute most important difference between those who suck and those who rule is attention to detail. <a href="http://twitter.com/hobodave/status/9895048807">#</a></li>
<li><span class="gentle">02 Mar</span> wtf. citibank started charging me $9.50/month for my checking account. <a href="http://twitter.com/hobodave/status/9888817222">#</a></li>
</ul>
