<ul id="twitter_list" class="pull-1">
<li><span class="gentle">25 Feb</span> @DASPRiD Nice! I zoomed in just to make sure you weren't using Windows. <a href="http://twitter.com/hobodave/status/9641758038">#</a></li>
<li><span class="gentle">24 Feb</span> Sigh, please don't use addslashes to prevent SQL injection: http://bit.ly/c5HIhe #php <a href="http://twitter.com/hobodave/status/9554518785">#</a></li>
<li><span class="gentle">20 Feb</span> Please Retweet if you think taxes and government spending are out of control. Join the online march to DC at http://OnlineTaxRevolt.com now! <a href="http://twitter.com/hobodave/status/9396420961">#</a></li>
<li><span class="gentle">20 Feb</span> @cloudsupport I already submitted a ticket (22817). <a href="http://twitter.com/hobodave/status/9359253314">#</a></li>
<li><span class="gentle">19 Feb</span> Nice. @rackcloud thinks it's OK to double bill you without warning because they &quot;forgot&quot; to bill you for the previous month. <a href="http://twitter.com/hobodave/status/9357625255">#</a></li>
</ul>
