<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="alternate" href="http://feeds.feedburner.com/hobodave" type="text/css" type="application/atom+xml" title="David Abdemoulaie" />
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6989244-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

    </script>
</head>
<body>
<div class="site container">
    <div class="title span-20 prepend-2 append-2 prepend-top last">
        <h2><a class="large" href="/">David Abdemoulaie</a>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/about/">about</a>
        </h2>
    </div>

    <div class="span-20 prepend-2 append-2 last">
    {{ content }}
    </div>

    <div class="span-20 prepend-2 append-2 prepend-top last">
        <div class="footer span-20 last">
            <div class="contact span-4 prepend-top">
                <p>
                    David Abdemoulaie<br />
                    &#100;&#97;&#x76;&#x65;&#64;&#104;&#x6f;&#x62;&#x6f;&#100;&#97;&#118;&#101;&#46;&#99;&#111;&#109;
                </p>
            </div>
            <div class="contact span-14 prepend-top">
                <p>
                    <a href="http://github.com/hobodave/">github.com/hobodave</a><br />
                    <a href="http://twitter.com/hobodave/">twitter.com/hobodave</a>
                </p>
            </div>
            <div class="rss span-2 last prepend-top">
                <a href="http://feeds.feedburner.com/hobodave">
                    <img src="/images/feed-icon.png" alt="Subscribe to RSS Feed">
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/hobodave/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
</body>
</html>