<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="W8wRMbDAxk6titRBRUGkUOprdzNBvD1TmF72v-iogv0" />
    <title>{{ page.title }}</title>
    <link rel="alternate" href="http://feeds.feedburner.com/hobodave" type="application/atom+xml" title="David Abdemoulaie" />
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen, projection" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6989244-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

    </script>
</head>
<body>
<div class="site container">
    <h1 class="title"><a href="/">hobodave.com</a></h1>
    <hr />
    <div class="nav span-16 append-1">
        <a href="/">home</a>
        <a href="/about/">about</a>
    </div>
    <div class="span-7 last rss">
        <a href="http://feeds.feedburner.com/hobodave">
            <img src="/images/feed-icon-28x28.png" alt="Subscribe to RSS Feed" />
        </a>
    </div>
    <hr />

    <div class="span-16 colborder">
    {{ content }}
    </div>

    <div id="sidebar" class="span-7 last">
        <h6>About</h6>
        <p>This is the blog of David Abdemoulaie. See the about page for more details.</p>

        <h6>Blogroll</h6>        
        <div class="span-7 last">
        <ul class="pull-1">
            <li><a href="http://akrabat.com/">Rob Allen</a></li>
            <li><a href="http://blog.astrumfutura.com/">Pádraic Brady</a></li>
            <li><a href="http://codeutopia.net/blog/">Jani Hartikainen</a></li>
            <li><a href="http://www.rmauger.co.uk/">Ryan Mauger</a></li>
            <li><a href="http://ralphschindler.com/">Ralph Schindler</a></li>
            <li><a href="http://www.dasprids.de/">Ben Scholzen</a></li>
            <li><a href="http://blog.robinsk.net/">Robin Skoglund</a></li>
            <li><a href="http://www.norm2782.com/">Jurrien Stutterheim</a></li>
            <li><a href="http://weierophinney.net/matthew/">Matthew Weier O'Phinney</a></li>
        </ul>
        </div>
        <h6>Recent posts</h6>
        <div class="span-7 last">
            <ul class="pull-1 posts">
            {% for post in site.posts limit:10 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <hr />

    <div class="span-24 last">
        <p>
            Copyright &copy; 2010 David Abdemoulaie. All rights reserved. Hosted by
            <a href="http://github.com/hobodave/hobodave.github.com/">GitHub</a> and
            powered by <a href="http://github.com/mojombo/jekyll/">Jekyll</a>.
        </p>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
(function() {
    var links = document.getElementsByTagName('a');
    var query = '?';
    for(var i = 0; i < links.length; i++) {
    if(links[i].href.indexOf('#disqus_thread') >= 0) {
        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
    }
    }
    document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/hobodave/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
</body>
</html>